<main>
  <section class="contact-direct-sec">
    <ul class="contact-direct-list">
      <li>
        <figure>
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 512 512"
            height="100px"
            width="100px"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="32"
              d="M256 48c-79.5 0-144 61.39-144 137 0 87 96 224.87 131.25 272.49a15.77 15.77 0 0 0 25.5 0C304 409.89 400 272.07 400 185c0-75.61-64.5-137-144-137z"
            ></path>
            <circle
              cx="256"
              cy="192"
              r="48"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="32"
            ></circle>
          </svg>
          <h2>Locations</h2>
        </figure>
        <caption>
          <b>News.co Headquartes</b>
          <p>Doe Street, 555</p>
          <p>Default city, DC</p>
        </caption>
        <caption>
          <b>Institution of News</b>
          <p>Did Avenue, 444</p>
          <p>Default city, DC</p>
        </caption>
      </li>
      <li>
        <figure>
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 512 512"
            height="90px"
            width="90px"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M280 0C408.1 0 512 103.9 512 232c0 13.3-10.7 24-24 24s-24-10.7-24-24c0-101.6-82.4-184-184-184c-13.3 0-24-10.7-24-24s10.7-24 24-24zm8 192a32 32 0 1 1 0 64 32 32 0 1 1 0-64zm-32-72c0-13.3 10.7-24 24-24c75.1 0 136 60.9 136 136c0 13.3-10.7 24-24 24s-24-10.7-24-24c0-48.6-39.4-88-88-88c-13.3 0-24-10.7-24-24zM117.5 1.4c19.4-5.3 39.7 4.6 47.4 23.2l40 96c6.8 16.3 2.1 35.2-11.6 46.3L144 207.3c33.3 70.4 90.3 127.4 160.7 160.7L345 318.7c11.2-13.7 30-18.4 46.3-11.6l96 40c18.6 7.7 28.5 28 23.2 47.4l-24 88C481.8 499.9 466 512 448 512C200.6 512 0 311.4 0 64C0 46 12.1 30.2 29.5 25.4l88-24z"
            ></path>
          </svg>
          <h2>Phone</h2>
        </figure>
        <caption>
          <b>Technical support</b>
          <p>(000) 000-0000</p>
        </caption>
        <caption>
          <b>Human Resources</b>
          <p>(111) 111-1111</p>
        </caption>
        <caption>
          <b>Issues and Suggestions</b>
          <p>(222) 222-2222</p>
        </caption>
      </li>
      <li>
        <figure>
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 24 24"
            height="100px"
            width="100px"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 2C6.486 2 2 5.589 2 10c0 2.908 1.898 5.515 5 6.934V22l5.34-4.005C17.697 17.852 22 14.32 22 10c0-4.411-4.486-8-10-8zm0 14h-.333L9 18v-2.417l-.641-.247C5.67 14.301 4 12.256 4 10c0-3.309 3.589-6 8-6s8 2.691 8 6-3.589 6-8 6z"
            ></path>
            <path d="M7 7h10v2H7zm0 4h7v2H7z"></path>
          </svg>
          <h2>Email</h2>
        </figure>
        <caption>
          <b>News.co CEO</b>
          <p>DoeDid&#64;mail.com</p>
        </caption>
        <caption>
          <b>Human Resources</b>
          <p>HRDoe&#64;mail.com</p>
        </caption>
        <caption>
          <b>Technical Support</b>
          <p>TSDoe&#64;mail.com</p>
        </caption>
      </li>
    </ul>
  </section>
  <section class="contact-message-sec">
    <div class="message-text-title">
      <h1>Send us a Message</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum saepe
        voluptatum nostrum, porro maxime, quia veritatis facere nam impedit sunt
        nemo architecto provident totam fugit iure veniam rerum temporibus eos.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ea
        repellendus dolorum quaerat quasi error, quia, est omnis quam commodi
        nam illum, magnam consequuntur a! Dolorum, quae! Placeat, quae unde.
        Facilis eveniet ea pariatur repellat voluptatum doloremque debitis
        labore quasi. Totam sint id facilis dolorum asperiores. Enim quasi
        pariatur quia, reprehenderit, id suscipit iste nemo exercitationem
        voluptate, commodi minima magni.
      </p>
    </div>
    <div class="message-text-form">
      <label for="name">
        <span>Name:</span>
        <input type="text" id="name" />
      </label>
      <label for="email">
        <span>Email:</span>
        <input type="text" id="email" />
      </label>
      <label for="subject">
        <span>Subject:</span>
        <input type="text" id="subject" />
      </label>
      <label for="message">
        <span>Message:</span>
        <textarea rows="15" id="message"></textarea>
      </label>
      <button>Submit</button>
    </div>
  </section>
</main>
