<main>
  <h1 class="about-title">About Us</h1>
  <img
    src="https://images.unsplash.com/photo-1504711434969-e33886168f5c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    class="about-main-img"
  />
  <section class="about-sec-one">
    <div class="about-main-text">
      <h1>What is News.co?</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque placeat
        non quibusdam repellat quam est laudantium saepe omnis at facere. Dolor
        beatae at veritatis ducimus asperiores id quam aut totam. Vitae incidunt
        aut ipsa necessitatibus, vero voluptatum quibusdam sunt adipisci minima
        delectus corrupti itaque perspiciatis laudantium animi quae voluptas
        mollitia blanditiis minus, eveniet provident praesentium sint,
        cupiditate quis ex? Earum! Commodi est velit expedita inventore
        molestiae suscipit dignissimos adipisci rerum quaerat atque quia
        repellendus laboriosam a quibusdam nisi ad neque ullam aperiam sit, id
        voluptatem fugit. Nam pariatur recusandae ab. Tenetur voluptas, amet
        delectus adipisci eum maiores iure quis ex ipsum veniam eaque culpa,
        minus illum id laborum distinctio debitis perferendis accusantium
        suscipit tempora reprehenderit neque ducimus. Ullam, sit libero?
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis, sed
        voluptatibus repudiandae laudantium expedita itaque tempora nihil illo,
        repellendus delectus laboriosam. Suscipit iste omnis modi eligendi rem
        in nam veritatis! Labore sunt, distinctio, ut harum exercitationem
        asperiores aut quos vitae perspiciatis placeat accusantium, rerum
        officia nisi? Mollitia voluptatem, placeat vitae vero adipisci numquam
        quaerat fugit dolorem quidem asperiores vel itaque.
      </p>
    </div>
    <ul class="about-main-select">
      <li>
        <h2>Who we are</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
          accusantium dignissimos similique velit animi dicta odit ab?
          Cupiditate autem architecto eos! Veritatis dolorum alias porro debitis
          odit repellat. Voluptas, facilis? Eius impedit amet vero repellat eum
          iste. Saepe ea esse ducimus, architecto neque incidunt laboriosam
          assumenda nemo illum praesentium odit nobis a dolores dicta. Officiis
          voluptate repellendus vel mollitia voluptatem!
        </p>
      </li>
      <li>
        <h2>Missons and Values</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          dolores quis sit eveniet assumenda esse, explicabo itaque ab doloribus
          dolorum! Illo id qui numquam culpa aliquid nulla, odit molestiae
          cumque? Delectus natus est veritatis animi itaque mollitia adipisci
          alias earum libero temporibus praesentium, quae nemo soluta nam, vero
          dicta odit quisquam quod iure ducimus, provident neque repellat?
          Corrupti, repudiandae maiores. 
        </p>
      </li>
    </ul>
  </section>
  <section class="about-sec-two">
    <h1 class="about-title">Our leaders</h1>
    <ul>
      <li>
        <img
          src="https://images.unsplash.com/photo-1604364721460-0cbc5866219d?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
        />
        <h2>Jess Doe</h2>
        <b>Human Resources</b>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus
          modi porro dolore cum facere est quidem? Laudantium amet nam odio fuga
          atque, deleniti explicabo reiciendis, rem sapiente, perspiciatis
          ducimus dolorum? Minima vitae doloremque officiis incidunt ab quae,
          nisi assumenda voluptatum aliquid harum sint repudiandae pariatur
          adipisci magni? Laborum vitae ab consequatur. Alias qui iure beatae
          voluptate aut earum ipsum optio.
        </p>
      </li>
      <li>
        <img
          src="https://images.unsplash.com/photo-1562788869-4ed32648eb72?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
        />
        <h2>Stan Doe</h2>
        <b>CEO</b>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores
          necessitatibus molestias unde quisquam! Consequatur earum debitis
          facere incidunt, quo animi iusto fugiat consequuntur libero maiores
          totam dignissimos soluta aliquam accusantium. Sit rerum at voluptatem
          qui repellat impedit unde eum voluptatibus ab animi. Error, modi
          impedit. Maiores corrupti dolore fuga incidunt aliquam, ullam quos
          debitis blanditiis at, nesciunt ut, quasi mollitia!
        </p>
      </li>
      <li>
        <img
          src="https://images.unsplash.com/photo-1531384441138-2736e62e0919?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
        />
        <h2>Bradley Doe</h2>
        <b>Techinical Support</b>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt
          natus, dicta nemo debitis delectus et, culpa impedit architecto quam
          omnis soluta suscipit quo commodi pariatur laudantium sequi autem ad
          dignissimos? Sint quam aspernatur dolor dicta porro veritatis, facilis
          eaque unde perspiciatis, vel aliquid alias necessitatibus accusamus!
          Hic temporibus impedit in facere placeat distinctio velit fugiat,
          voluptas assumenda modi nemo labore.
        </p>
      </li>
    </ul>
  </section>
</main>
